######         REGULAR EXPRESSION---ASSIGNMENTS

In [ ]:
Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [19]:
import re
text="Python Exercises, PHP exercises."
print(text)
result=re.sub(r"[ ,.]", ":",text)
print(result)

Python Exercises, PHP exercises.
Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [8]:
import pandas as pd
import regex as re
df=pd.DataFrame({"Summary":['hello, world!','XXXX test','123four, five:; six...']})
df

                  Summary
0           hello, world!
1               XXXX test
2  123four, five:; six...

In [10]:
df['Summary']=df['Summary'].str.replace("[^a-z\s]",'',regex=True)
df

         Summary
0    hello world
1           test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [1]:
import re
def func(Str):
    pattern="\w{4}"
    R1=re.compile(pattern)
    result=R1.findall(Str)
    return result

Str="Data Science is a Stream and it is a part of AI.You can solve many complex problems using data science tools and techs"
String=func(Str)
print(String)

['Data', 'Scie', 'Stre', 'part', 'solv', 'many', 'comp', 'prob', 'lems', 'usin', 'data', 'scie', 'tool', 'tech']


Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [37]:
def func(Str):
    R1=re.compile('\w{3,5}')
    result=R1.findall(Str)
    return result

Str="Data Science is a Stream and it is a part of AI.You can solve many complex problems using data science tools and techs"
String=func(Str)
print(String)

['Data', 'Scien', 'Strea', 'and', 'part', 'You', 'can', 'solve', 'many', 'compl', 'probl', 'ems', 'using', 'data', 'scien', 'tools', 'and', 'techs']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [30]:
import re
def remove_paren(string):
    for s in string:
        r1=re.compile(r'[()]')
        result=re.sub(r1,r'',s)
        print(result)
    #return [re.sub(r1,r'',s) for s in string]
    
        

msg=["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]
print(f'Input:', msg)
Output=remove_paren(msg)

Input: ['example(.com)', 'hr@fliprobo(.com)', 'github(.com)', 'Hello (Data Science World)', 'Data (Scientist)']
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist


Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [167]:
import re
file=open('msg.txt','r')
strings=file.read()
print("Input:",strings)
r1=re.compile(r"\([^()]*\)")
result=re.sub(r1,r'',strings)
print("Output:",result)

Input:

["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello(Data Science World)", "Data (Scientist)"]
Output:

["example", "hr@fliprobo", "github", "Hello", "Data "]

In [16]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.

import re
Sample_text="ImportanceOfRegularExpressionsInPython"
result=re.sub(r'([A-Z])',r' \1',Sample_text).split()
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.

In [34]:

def func(text):
    insert_space=re.sub(r'([a-zA-Z]+)(\d+)', r'\1 \2',text)
    return insert_space
    
text="RegularExpression1IsAn2ImportantTopic3InPython"
result=func(text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [34]:
def func(text):
    insert_space=re.sub(r'(\w)(\d+)', r'\1 \2 ',text)
    return insert_space
    
text="RegularExpression1IsAn2ImportantTopic3InPython"
result=func(text)
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython


Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [18]:
import pandas as pd
#url="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df=pd.read_csv('happiness_score_dataset.csv')
print(df['Country'])

0      Switzerland
1          Iceland
2          Denmark
3           Norway
4           Canada
          ...
153         Rwanda
154          Benin
155          Syria
156        Burundi
157           Togo
Name: Country, Length: 158, dtype: object

In [22]:
df['first_five_letters']=df['Country'].str[:6]
df['first_five_letters'].head(10)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo


Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [14]:
#The input Target contains all characters including special charactes but'\w* returns only charaacters[A-za-z0-9]



import re
Target='D@t@5CIENCE !nvolvEs COMPLEX machine !e@arNING algorithms123 which are used to build pred!_(t$ve models1'
pattern='\w*'
r1=re.compile(pattern)
result=r1.findall(Target)
print(result)

['D', '', 't', '', '5CIENCE', '', '', 'nvolvEs', '', 'COMPLEX', '', 'machine', '', '', 'e', '', 'arNING', '', 'algorithms123', '', 'which', '', 'are', '', 'used', '', 'to', '', 'build', '', 'pred', '', '_', '', 't', '', 've', '', 'models1', '']

Question 12- Write a Python program where a string will start with a specific number.

In [15]:
import re
text="1947 August we got independence"
pattern=re.match(r"\d{4}",text)
print(pattern)
print(pattern.group())

<re.Match object; span=(0, 4), match='1947'>
1947

In [ ]:
Question 13- Write a Python program to remove leading zeros from an IP address

In [73]:
ip_address="69.023.0045.078"
print("Input:",ip_address)
x=re.sub(r"\.[0]*",".",ip_address) #Removes Leading spaces
print("Result:",x)

Input: 69.023.0045.078
Result: 69.23.45.78

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [46]:
import re
file=open("SampleDate.txt",'r')
SampleText=file.read()
print("Input:",SampleText)
pattern = r"\b([A-Z][a-z]+) \d{1,2}(st|nd|rd|th) \d{4}\b"
result=re.search(pattern, SampleText)
print("Output:",result.group())

Input: On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.
Output: August 15th 1947


Question 15- Write a Python program to search some literals strings in a string.

In [57]:
literals=['fox','dog','horse']
text='The quick brown fox jumps over the lazy dog.'
for literal in literals:
    if re.search(literal,text):
        print(f'Search for "{literal}" in "{text}" String Matched!')
    else:
        print(f'Search for "{literal}" in "{text}" String Not Matched')

Search for "fox" in "The quick brown fox jumps over the lazy dog." String Matched!
Search for "dog" in "The quick brown fox jumps over the lazy dog." String Matched!
Search for "horse" in "The quick brown fox jumps over the lazy dog." String Not Matched


Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [61]:
text='The quick brown fox jumps over the lazy dog.'
search='fox'
SearchedString=re.search(search,text)
startingloc=SearchedString.start()
endingloc=SearchedString.end()
print(f'The String "{search}" from the text "{text}" is found at the location {startingloc},{endingloc}.')

The String "fox" from the text "The quick brown fox jumps over the lazy dog." is found at the location 16,19.

Question 17- Write a Python program to find the substrings within a string.

In [62]:
import re
text="Python Exercises, PHP exercises."
result=re.findall(r"(exercises)",text)
print(result)

['exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [48]:
import re
text="Data Science is useful in extracting Data where it can be used to enhance the business.Data science is also a part of AI"
result='Data'
for search in re.finditer(result,text):
        start_loc=search.start()
        end_loc=search.end()
        print(f'Substring "{result}" found at position :{start_loc},{end_loc}')

Substring "Data" found at position :0,4
Substring "Data" found at position :37,41
Substring "Data" found at position :87,91


Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [113]:
import re
date="2024-05-04"
dateformat=re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})',r'\3-\2-\1',date)
print(dateformat)

04-05-2024


Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [ ]:
def decimalfunc(Sample_Text):
    decimal=re.compile(r"\b\d+\.\d{1,2}\b")
    result=decimal.findall(Sample_Text)
    return result
    
Sample_Text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
DecimalValue=decimalfunc(Sample_Text)
print(DecimalValue)

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [114]:
text="There are 28 states and 8 Union territories in the country of India."
for i in re.finditer("\d+",text):
                     print("Number:",i.group(0))
                     print("Number position:",i.start(),i.end())

Number: 28
Number position: 10 12
Number: 8
Number position: 24 25


Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [27]:
String2="My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
largestValue=re.findall('\d+',String2)
largestValue=map(int,largestValue)
print(max(largestValue))

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [6]:
import re
def func(text):
    insert_space=re.sub(r'(\w)([A-Z])', r'\1 \2',text)
    return insert_space
    
text="RegularExpression1IsAn2ImportantTopic3InPython"
result=func(text)
print(result)

Regular Expression1 Is An2 Important Topic3 In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [11]:
text="Election Helds on April 19th 2024 in India"
InitCaps=re.findall("[A-Z][a-z]+",text)
print(InitCaps)

['Election', 'Helds', 'April', 'India']


Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [6]:
import regex as re
string_1="Hello hello world world"
regex=r'\b(\w+)(\W+\1\b)+'
x=re.sub(regex,r'\1',string_1)
print(x)

Hello hello world


Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character

In [35]:
text=input("Enter String: ")
alphanumeric="\w+$"
if(re.search(alphanumeric,text)):
     print('String Accepted')
else:
     print('String Not Accepted')

Enter String: Raaji=
String Not Accepted

Question 27-Write a python program using RegEx to extract the hashtags.

In [157]:
text=""""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""""
result=re.findall(r'#\w*',text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbolsc

In [64]:
text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=(r'<U\+[0-9A-Z]+>')
result=re.sub(pattern,r' ',text)
print(result)

@Jags123456 Bharat band on 28??<ed>  <ed>  Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.

In [23]:
file=open('Date.txt','r')
text=file.read()
print(text)

date=re.findall(r"(\d{2}-\d{2}-\d{4})",text)
print(date)

Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
['12-09-1992', '15-12-1999']


Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

In [41]:
def remove_words(text):
    
    p1=re.compile(r'\b\w{2,4}\b')
    result=p1.sub(r'',text)
    return result
    
text="The following example creates an ArrayList with a capacity of 50 elements. 4 element are then added to the ArrayList and the ArrayList is trimmed accordingly."
output=remove_words(text)
print(output)

 following example creates  ArrayList  a capacity   elements. 4 element   added   ArrayList   ArrayList  trimmed accordingly.