In [69]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import requests
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchWindowException 
from selenium.webdriver.support.ui import WebDriverWait
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [48]:
driver=webdriver.Chrome()
driver.maximize_window()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [49]:


VideoName=[]
Uploader=[]
Upload_Date=[]
Views=[]

#Scraping Video Name
videoName=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[1]')

try:
    for i in videoName:
         VideoName.append(i.text)
except NoSuchElementException:
    VideoName.append('-')
        

#Scraping Uploader
uploader=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[2]')
try:
    for i in uploader:
        Uploader.append(i.text)
except NoSuchElementException:
    Uploader.append('-')
    


#Scraping Video views     
views=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[3]')
try: 
    for i in views:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')
    
    

#Scraping upload Date
date=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[4]')
try:
    for i in date:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('-')

In [50]:
print(len(VideoName),len(Uploader),len(Views),len(Upload_Date))

30 30 30 30

In [52]:
#Creating DataFrame for Wikidata
import pandas as pd
WikiData=pd.DataFrame({"Video Name":VideoName,"Date":Upload_Date,
                       "Uploader":Uploader,"Views":Views})
WikiData

,Video Name,Date,Uploader,Views
0,"""Baby Shark Dance""[7]","June 17, 2016",Pinkfong Baby Shark - Kids' Songs & Stories,14.52
1,"""Despacito""[10]","January 12, 2017",Luis Fonsi,8.44
2,"""Johny Johny Yes Papa""[18]","October 8, 2016",LooLoo Kids - Nursery Rhymes and Children's Songs,6.91
3,"""Bath Song""[19]","May 2, 2018",Cocomelon - Nursery Rhymes,6.70
4,"""See You Again""[20]","April 6, 2015",Wiz Khalifa,6.27
5,"""Shape of You""[25]","January 30, 2017",Ed Sheeran,6.26
6,"""Wheels on the Bus""[28]","May 24, 2018",Cocomelon - Nursery Rhymes,6.13
7,"""Phonics Song with Two Words""[29]","March 6, 2014",ChuChu TV Nursery Rhymes & Kids Songs,5.80
8,"""Uptown Funk""[30]","November 19, 2014",Mark Ronson,5.23
9,"""Gangnam Style""[31]","July 15, 2012",Psy,5.15
10,"""Learning Colors – Colorful Eggs on a Farm""[36]","February 27, 2018",Miroshka TV,5.11
11,"""Dame Tu Cosita""[37]","April 5, 2018",Ultra Records,4.63
12,"""Masha and the Bear – Recipe for Disaster""[38]","January 31, 2012",Get Movies,4.58
13,"""Axel F""[39]","June 16, 2009",Crazy Frog,4.54
14,"""Baa Baa Black Sheep""[40]","June 25, 2018",Cocomelon - Nursery Rhymes,4.05
15,"""Sugar""[41]","January 14, 2015",Maroon 5,4.05
16,"""Lakdi Ki Kathi""[42]","June 14, 2018",Jingle Toons,4.04
17,"""Counting Stars""[43]","May 31, 2013",OneRepublic,4.02
18,"""Roar""[44]","September 5, 2013",Katy Perry,4.00
19,"""Waka Waka (This Time for Africa)""[45]","June 4, 2010",Shakira,3.93
20,"""Shree Hanuman Chalisa""[46]","May 10, 2011",T-Series Bhakti Sagar,3.84
21,"""Humpty the train on a fruits ride""[47]","January 26, 2018",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.81
22,"""Sorry""[48]","October 22, 2015",Justin Bieber,3.80
23,"""Thinking Out Loud""[49]","October 7, 2014",Ed Sheeran,3.77
24,"""Perfect""[50]","November 9, 2017",Ed Sheeran,3.74
25,"""Dark Horse""[51]","February 20, 2014",Katy Perry,3.72
26,"""Let Her Go""[52]","July 25, 2012",Passenger,3.66
27,"""Faded""[53]","December 3, 2015",Alan Walker,3.63
28,"""Girls Like You""[54]","May 31, 2018",Maroon 5,3.61
29,"""Lean On""[55]","March 22, 2015",Major Lazer Official,3.60

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [84]:
driver=webdriver.Chrome()
driver.maximize_window()
driver.get("https://www.bcci.tv/")

In [85]:
#Click on Internation Results link

Inter_Res_link=driver.find_element(By.XPATH,'/html/body/div[3]/ul/li/a[2]')
Inter_Res_link.click()
time.sleep(3)

In [86]:
#Click on More Matches link

More_Matches_link=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[2]/div/button')
More_Matches_link.click()

In [89]:


Seriess=[]
Place=[]
Date=[]
Time_Note=[]


#Scraping Series
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')

try:
    for i in series:
         Seriess.append(i.text)
except NoSuchElementException:
    Seriess.append('-')
        

#Scraping Place
place=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
try:
    for i in place:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    

#Scraping Date     
date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
try: 
    for i in date:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
    
    

#Scraping Time
time_note=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
try:
    for i in time_note:
        Time_Note.append(i.text)
except NoSuchElementException:
    Time_Note.append('-')

In [90]:
print(len(Seriess),len(Place),len(Date),len(Time_Note))

18 18 18 18

In [91]:
#Creating DataFrame for ICC Data
import pandas as pd
ICC_Data=pd.DataFrame({"Series":Seriess,"Place":Place,"Date":Date,"Time_Note":Time_Note})
ICC_Data

,Series,Place,Date,Time_Note
0,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium,",13 Jun,13:30 IST
1,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,20:00 IST
2,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium,",16 Jun,13:30 IST
3,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium,",19 Jun,13:30 IST
4,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium,",23 Jun,13:30 IST
5,South Africa Women Tour Of India Test Series 2024,"MA Chidambaram Stadium,",28 Jun,9:30 IST
6,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium,",5 Jul,19:00
7,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club,",6 Jul,20:00 IST
8,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium,",7 Jul,19:00
9,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club,",7 Jul,20:00 IST
10,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium,",9 Jul,19:00
11,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club,",10 Jul,20:00 IST
12,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club,",13 Jul,20:00 IST
13,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club,",14 Jul,20:00 IST
14,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium,",4 Oct,18:30
15,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium,",6 Oct,18:30
16,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium,",9 Oct,18:30
17,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium,",13 Oct,18:30

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [46]:
driver=webdriver.Chrome()
driver.maximize_window()
driver.get("http://statisticstimes.com/ ")
time.sleep(3)

In [47]:
#Click on economy
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

#Click on India
India_lnk=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
India_lnk.click()

In [48]:
#Click on GDP of Indian States

GDP_India=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_India.click()

In [49]:
#Creating Empty list
Rank=[]
State=[]
GSDP_23_24=[]
GSDP_22_23=[]
GSDP_21_22=[]
Share=[]
GDP_billion=[]

#Scraping Rank

rank=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]//table[1]/tbody/tr/td[1]')
try:
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
    
 #Scraping State   
state=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]//table[1]/tbody/tr/td[2]')
try:
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')
   
 #Scraping GSDP 23-24 Current Price  
gsdp23=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]//table[1]/tbody/tr/td[3]')
try:
    for i in gsdp23:
        GSDP_23_24.append(i.text)
except NoSuchElementException:
    GSDP_23_24.append('-')

#Scraping GSDP 22-23 Current Price
gsdp23=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]//table[1]/tbody/tr/td[4]')
try:
    for i in gsdp23:
        GSDP_22_23.append(i.text)
except NoSuchElementException:
    GSDP_22_23.append('-')
    
#Scraping GSDP 21-22 Current Price
gsdp22=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]//table[1]/tbody/tr/td[5]')
try:
    for i in gsdp22:
        GSDP_21_22.append(i.text)
except NoSuchElementException:
    GSDP_21_22.append('-')
 
 #Scraping Share 
share=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]//table[1]/tbody/tr/td[6]')
try:
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')

#Scraping GDP Billion
billion=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]//table[1]/tbody/tr/td[7]')
try:
    for i in billion:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('-')

In [50]:
print(len(State),len(Rank),len(GSDP_23_24),len(GSDP_22_23),len(GSDP_21_22),len(Share),len(GDP_billion))

66 66 66 66 66 66 66

In [51]:
#Creating DataFrame for GSDP Data
import pandas as pd
GSDPData=pd.DataFrame({"Rank":Rank[:33],"State":State[:33],
                     " GSDP(23-24)- at current prices ":GSDP_23_24[:33],"GSDP(22-23)- at current prices ":GSDP_22_23[:33],
                      "GSDP(21-22)- at current prices ":GSDP_21_22[:33],"Share(21-22)- at current prices":Share[:33],
                       "GDP($ billion)":GDP_billion[:33]})
GSDPData

,Rank,State,GSDP(23-24)- at current prices,GSDP(22-23)- at current prices,GSDP(21-22)- at current prices,Share(21-22)- at current prices,GDP($ billion)
0,1,Maharashtra,-,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,700,109","2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,500,733","2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,547,861","2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,-,"2,230,609","1,928,683",8.17%,257.484
5,6,West Bengal,"1,700,939","1,531,758","1,329,238",5.63%,177.456
6,7,Rajasthan,"1,524,030","1,365,849","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"1,439,674","1,303,524","1,148,471",4.87%,153.324
8,9,Telangana,"1,463,960","1,308,034","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"1,363,327","1,246,471","1,092,964",4.63%,145.913
10,11,Kerala,-,"1,046,188","934,542",3.96%,124.764
11,12,Delhi,"1,107,746","1,014,688","881,336",3.73%,117.660
12,13,Haryana,"1,095,535","984,055","868,905",3.68%,116.001
13,14,Odisha,"832,790","753,177","662,886",2.81%,88.497
14,15,Bihar,-,"751,396","650,302",2.76%,86.817
15,16,Punjab,"736,423","676,164","617,192",2.62%,82.397
16,17,Assam,"565,401","493,167","411,454",1.74%,54.930
17,18,Chhattisgarh,"505,887","464,399","410,525",1.74%,54.806
18,19,Jharkhand,-,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"346,206","303,781","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"246,465","224,226","193,352",0.82%,25.813
21,22,Himachal Pradesh,"207,430","191,728","172,162",0.73%,22.984
22,23,Goa,-,"93,672","84,266",0.36%,11.250
23,24,Tripura,-,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,-,"54,285","46,096",0.20%,6.154
25,26,Puducherry,-,"49,643","43,810",0.19%,5.849
26,27,Meghalaya,"47,381","42,697","38,785",0.16%,5.178
27,28,Sikkim,-,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,-,"39,630","34,775",0.15%,4.643
30,31,Nagaland,-,"35,643","31,038",0.13%,4.144
31,32,Mizoram,-,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,-,"10,371",0.04%,1.385

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [33]:
driver=webdriver.Chrome()
driver.maximize_window()
driver.get("https://github.com/")

In [34]:
#Click on Open Source

open_source_lnk=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source_lnk.click()

trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [40]:
Repository_title=[]
Repository_desc=[]
Contributors_count=[]
Language=[]

#Scraping Repository title
title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
try:
    for i in title:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')

#Scraping Repository Description
desc=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
try:
    for i in desc:
        Repository_desc.append(i.text)
except NoSuchElementException:
    Repository_desc.append('-')
 


 #Scraping Contribution count
Count=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
try:
    for i in Count:
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append('-')
    
 
 #Scraping Language
Lang=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
try:
    for i in Lang:
        Language.append(i.text)
except NoSuchElementException:
    Language.append('-')

In [41]:
print(len(Repository_title),len(Repository_desc),len(Contributors_count),len(Language))

16 16 16 14

In [43]:
#Creating DataFrame for Github 
import pandas as pd
Github=pd.DataFrame({"Repository Title":Repository_title[:14],"Repository Description":Repository_desc[:14],
                     "Contributors count":Contributors_count[:14],"Language":Language[:14]})
Github

,Repository Title,Repository Description,Contributors count,Language
0,huggingface / lerobot,🤗 LeRobot: End-to-end Learning for Real-World ...,290,Python
1,DaoCloud / public-image-mirror,很多镜像都在国外。比如 gcr 。国内下载很慢，需要加速。,202,Shell
2,idootop / mi-gpt,🏠 将小爱音箱接入 ChatGPT 和豆包，改造成你的专属语音助手。,317,TypeScript
3,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,"1,749",Swift
4,apple / swift-testing,"A modern, expressive testing package for Swift",41,Python
5,apple / axlearn,An Extensible Deep Learning Library,156,PHP
6,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"25,768",Python
7,coollabsio / coolify,An open-source & self-hostable Heroku / Netlif...,"1,211",JavaScript
8,karpathy / nanoGPT,"The simplest, fastest repository for training/...","5,119",Python
9,xenova / transformers.js,State-of-the-art Machine Learning for the web....,525,Python
10,litestar-org / litestar,"Production-ready, Light, Flexible and Extensib...",338,Python
11,coqui-ai / TTS,🐸💬 - a deep learning toolkit for Text-to-Speec...,"3,688",Rust
12,3b1b / manim,Animation engine for explanatory math videos,"5,653",Python
13,juspay / hyperswitch,An open source payments switch written in Rust...,"1,182",C#

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [46]:
#entering into Billboard webpage

driver=webdriver.Chrome()
driver.maximize_window()
driver.get('https:/www.billboard.com')
time.sleep(3)

In [49]:
#Click on BillBoard100 link 

BillBoard100_lnk=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
BillBoard100_lnk.click()

In [62]:
Song_Name=[]
Artist_name=[]
Last_Week_Rank=[]
Peak_rank=[]
Weeks_on_board=[]

#Scraping Song Name

song=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-padding-l-050 lrv-u-padding-l-1@mobile-max"]/h3')
try:
    for i in song:
        Song_Name.append(i.text)
except NoSuchElementException:
    Song_Name.append('-')
    
#Scraping Artist Name
artist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
try:
    for i in artist:
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append('-')
                            
 #Scraping LastWeek count                        
lastweek=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
try:
    for i in lastweek:
        Last_Week_Rank.append(i.text)
except NoSuchElementException:
    Last_Week_Rank.append('-')
                            
#Scraping Peak Rank count                     
peakrank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')                         
try:
    for i in peakrank:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('-')

#Scraping WeekOnboard

board=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
try:
    for i in board:
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append('-')

In [57]:
print(len(Song_Name),len(Artist_name),len(Last_Week_Rank),len(Peak_rank),len(Weeks_on_board))

99 99 100 100 100

In [70]:
#Creating DataFrame for BillBoard
import pandas as pd
BillBoard=pd.DataFrame({"Song Name":Song_Name,"Artist_Name":Artist_name,
                     "Last Week Rank":Last_Week_Rank[:99],"Peak Rank":Peak_rank[:99],"Weeks on Chart":Weeks_on_board[:99]})
BillBoard

,Song Name,Artist_Name,Last Week Rank,Peak Rank,Weeks on Chart
0,Houdini,Eminem,1,1,4
1,Million Dollar Baby,Tommy Richman,-,2,1
2,A Bar Song (Tipsy),Shaboozey,3,2,6
3,Not Like Us,Kendrick Lamar,4,3,8
4,Espresso,Sabrina Carpenter,2,1,5
...,...,...,...,...,...
94,Wine Into Whiskey,Tucker Wetmore,-,24,18
95,Heat Stick,Shoreline Mafia Presents OhGeesy & Fenix Flexin,90,77,11
96,Let Your Boys Be Country,Jason Aldean,97,97,3
97,Tu Name,Fuerza Regida,-,98,1
98,loml,Taylor Swift,100,66,14

6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [29]:
#Entering into webpage
driver=webdriver.Chrome()
driver.maximize_window()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [30]:
#Creating empty list
Book_Name=[]
Author =[]
Genre=[]
Publisher=[]
Volume_Sales=[]

#Scraping Title
bk_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
try:
    for i in bk_name:
        Book_Name.append(i.text)
except NoSuchElementException:
    Book_Name.append('-')
    
#Scraping Author   
author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
try:
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('-')   

#Scraping Genre
genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
try:
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')   
    
#Scraping Publisher
pub=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
try:
    for i in pub:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('-')   

#Scraping Volume Sales
Vol_sales=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
try:
    for i in Vol_sales:
        Volume_Sales.append(i.text)
except NoSuchElementException:
    Volume_Sales.append('-')

In [31]:
print(len(Book_Name),len(Genre),len(Author),len(Publisher),len(Volume_Sales))

100 100 100 100 100

In [62]:
#Creating DataFrame for Book 
import pandas as pd
BookData=pd.DataFrame({"Book Name":Book_Name,"Author Name":Author,"Volume Sales":Volume_Sales,
                       "Publisher":Publisher,"Genre":Genre})
BookData

,Book Name,Author Name,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code

In [62]:
driver=webdriver.Chrome()
driver.maximize_window()
driver.get("https://archive.ics.uci.edu/")

In [63]:
#click on view dataset
view_dataset_link=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_dataset_link.click()

In [64]:
 #Click on Expand all link
Expand_All_lnk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
Expand_All_lnk.click()

In [70]:
Dataset_Name=[]
Data_type=[]
Task=[]
Attribute_type=[]
Instances=[]
Attribute_No=[]
Year=[]

  
for i in range(60):
 #Click on Collapse all link 
        collapse_lnk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[1]')
        collapse_lnk.click()
 #Click on Expand all link
        Expand_All_lnk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
        Expand_All_lnk.click()
        
    #Scraping Dataset Name
        DS_Name=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
        try:
            for i in DS_Name:
                Dataset_Name.append(i.text)
        except NoSuchElementException:
            Dataset_Name.append('-')
            
    #Scraping DataType Name
        datatype=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
        try:
            for i in datatype:
                Data_type.append(i.text)
        except NoSuchElementException:
            Data_type.append('-')
    #Scraping Task Name
        task=driver.find_elements(By.XPATH,'//p[@class="truncate"]')
        try:
            for i in task:
                Task.append(i.text)
        except NoSuchElementException:
            Task.append('-')
            
     #Scraping Attribute type
        atype=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
        try:
            for i in atype:
                 Attribute_type.append(i.text)
        except NoSuchElementException:
                Attribute_type.append('-')
                
    #Scraping No Of Instances
        instances=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
        try:
            for i in instances:
                Instances.append(i.text)
        except NoSuchElementException:
            Instances.append('-')
            
    #Scraping No Of Attributes
        attributes= driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
        try:
             for i in attributes:
                    Attribute_No.append(i.text)
        except NoSuchElementException:
             Attribute_No.append('-')
    
    #Scraping Year
        year=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
        try:
            for i in year:
                    Year.append(i.text)
        except NoSuchElementException:
            Year.append('-')
try:           
    next_button=wait.until(EC.element_to_be_clickable((By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]")))
    next_button.click()
except NoSuchWindowException as e:
    print("Exception Raised Message",e)

Exception Raised Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=125.0.6422.142)
Stacktrace:
	GetHandleVerifier [0x00007FF6219E1F52+60322]
	(No symbol) [0x00007FF62195CEC9]
	(No symbol) [0x00007FF621817EBA]
	(No symbol) [0x00007FF6217ED5A5]
	(No symbol) [0x00007FF6218936B7]
	(No symbol) [0x00007FF6218AB331]
	(No symbol) [0x00007FF62188BFC3]
	(No symbol) [0x00007FF621859617]
	(No symbol) [0x00007FF62185A211]
	GetHandleVerifier [0x00007FF621CF94AD+3301629]
	GetHandleVerifier [0x00007FF621D436D3+3605283]
	GetHandleVerifier [0x00007FF621D39450+3563680]
	GetHandleVerifier [0x00007FF621A94326+790390]
	(No symbol) [0x00007FF62196750F]
	(No symbol) [0x00007FF621963404]
	(No symbol) [0x00007FF621963592]
	(No symbol) [0x00007FF621952F9F]
	BaseThreadInitThunk [0x00007FFD3C6A257D+29]
	RtlUserThreadStart [0x00007FFD3D68AA48+40]

In [71]:
print(len(Dataset_Name),len(Data_type),len(Task),len(Attribute_type),len(Instances),len(Attribute_No),len(Year))

600 600 600 600 600 600 600

In [72]:
import pandas as pd
Dataset=pd.DataFrame({"Dataset Name":Dataset_Name,"Data Type":Data_type,"Task":Task,"Attribute Type":Attribute_type,
                      "No of Instances":Instances,"No Of Attribute":Attribute_No,"Year":Year})
Dataset

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No Of Attribute,Year
0,Iris,Tabular,"A small classic dataset from Fisher, 1936. One...",Real,150 Instances,4 Features,7/1/1988
1,Dry Bean,Multivariate,"Images of 13,611 grains of 7 different registe...","Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Multivariate,"4 databases: Cleveland, Hungary, Switzerland, ...","Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,A total of 3810 rice grain's images were taken...,Real,3.81K Instances,7 Features,10/6/2019
4,Raisin,Multivariate,Images of the Kecimen and Besni raisin varieti...,"Real, Integer",900 Instances,8 Features,8/14/2023
...,...,...,...,...,...,...,...
595,Adult,Multivariate,Predict whether income exceeds $50K/yr based o...,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
596,Breast Cancer Wisconsin (Diagnostic),Multivariate,Diagnostic Wisconsin Breast Cancer Database.,Real,569 Instances,30 Features,11/1/1995
597,Wine,Tabular,Using chemical analysis to determine the origi...,"Integer, Real",178 Instances,13 Features,7/1/1991
598,Wine Quality,Multivariate,"Two datasets are included, related to red and ...",Real,4.9K Instances,12 Features,10/7/2009
599,Bank Marketing,Multivariate,The data is related with direct marketing camp...,"Categorical, Integer",45.21K Instances,17 Features,2/14/2012